<!-- content heading - Title Element-->
<% if (title) { %>
<h1><%= title || "Vehicle Details" %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message Block -->
<%# messages() %>

<!-- Display Detail html -->
 <%- detail %>